h1 {
    font-size: xx-large;
    color: blue;
    background-color:gray;
}

.shopping-list {
    border: 1px;
};

.delete {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border: red;
    background: white;
}